body {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

.navbar {
    background-color: black;
}

.navbar-brand {
    margin-right: 50px;
}

/* LINKS */

.hover {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 4px;
    color: white;
}

.hover:hover {
    color: #904fd1;
    transition: 0.8s;
}

/* BUTTON */

.button {
    background-color: #904fd1;
    color: #fff;
    padding: 10px 30px;
    padding-bottom: 30px;
    border: none;
    z-index: 1;
}

.whole {
    padding-bottom: 0;
}

.menus {
    position: relative;
    top: 15px;
    right: 20px;
    z-index: 0;
}

/* SING IN - HU | EN */

.icons {
    position: absolute;
    top: 5%;
    right: 25%;
    color: #fff;
}

.icons .sign-in:hover {
    color: #904fd1;
    transition: 0.8s;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

/* HEADER IMAGE */

.header {
    z-index: 2;
}

.header-div {
    margin-bottom: 150px;
    text-align: center;
}

.centered {
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

/* BLACK CARD */

.black-card {
    margin-left: 20%;
}

.card {
    z-index: 0;
    padding: 70px;
    background-color: black;
    color: #fff;
}

.title-div {
    text-decoration: 1px solid #fff underline;
    text-underline-offset: 25px;
    padding-bottom: 25px;
}

.card-subtitle {
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
}

.card-text {
    line-height: 30px;
    font-size: 13px;
}

.card-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

/* IMG UNDER BALCK CARD */

/* MEDIA QUERIES */

@media only screen and (max-width: 992px) {
    .icons {
        position: absolute;
        top: 0;
        right: 5%;
    }
}

@media only screen and (min-width: 992px) {
    .button:hover {
        transform: translateY(-10%);
        transition: 0.8s;
    }
}

/* X-LARGE */
@media only screen and (max-width: 1400px) and (min-width: 1200px) {
    .icons {
        position: absolute;
        top: 5%;
        right: 5%;
    }
}

/* LARGE */
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .button {
        background-color: #904fd1;
        color: #fff;
        padding: 0;
        padding-right: 7px;
        border: none;
        z-index: 2;
    }

    .button:hover {
        transform: translateY(-20%);
        transition: 0.8s;
    }

    .icons {
        position: absolute;
        top: 5%;
        right: 1%;
    }
}

/* EXTRA SMALL */
@media only screen and (max-width: 576px) {
    .black-card {
        margin-left: 0;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .black-card {
        margin-left: 0;
    }
}

/* XX-LARGE */
@media only screen and (min-width: 1400px) {
    .icons {
        position: absolute;
        top: 5%;
        right: 25%;
    }
}
