@import "config";
@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap%27");

body {
    margin: 0;
    padding: 0;
}

/* /////////////////////////////////////////////////////////////////// */
/* NAVBAR */
/* /////////////////////////////////////////////////////////////////// */

.navbar {
    background-color: $black-color;
}

.navbar-brand {
    margin-right: 50px;
}

/* /////////////////////////////////////////////////////////////////// */
/* LINKS */
/* /////////////////////////////////////////////////////////////////// */

.hover {
    font-weight: bolder;
    font-size: 13px;
    letter-spacing: 4px;
    color: $white-color;
}

.hover:hover {
    color: $purple;
    transition: $transition-time;
}

.menu-button {
    cursor: pointer;
}

.dropdown-menu {
    z-index: 6;
    display: none;
    background-color: $black-color;
    color: $white-color;

    .dropdown-item {
        z-index: 6;
        padding-bottom: 15px;

        a {
            z-index: 6;
            text-decoration: none;
            color: $white-color;
            font-weight: 500;
        }
    }

    .dropdown-item:hover {
        background-color: $black-color;

        a {
            color: $purple;
            transition: $transition-time;
        }
    }
}

.menu-button:hover .dropdown-menu {
    display: block;
    z-index: 6;
}

/* /////////////////////////////////////////////////////////////////// */
/* BUTTON */
/* /////////////////////////////////////////////////////////////////// */

.button {
    background-color: $purple;
    color: $white-color;
    padding: 10px 30px;
    padding-bottom: 30px;
    border: none;
    z-index: 1;
}

.whole {
    padding-bottom: 0;
}

.menus {
    position: relative;
    top: 15px;
    right: 20px;
    z-index: 0;
}

/* /////////////////////////////////////////////////////////////////// */
/* SING IN - HU | EN | 日本語 */
/* /////////////////////////////////////////////////////////////////// */

.icons {
    position: absolute;
    top: 5%;
    right: 25%;
    color: $white-color;

    .sign-in:hover {
        color: $purple;
        transition: $transition-time;
    }

    a {
        text-decoration: none;
        color: $white-color;
    }
}

/* /////////////////////////////////////////////////////////////////// */
/* HEADER IMAGE */
/* /////////////////////////////////////////////////////////////////// */

.header {
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-div {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 150px;
}

.centered {
    font-family: $font-family;
    color: $white-color;
    font-size: 50px;
    position: absolute;
    top: $fifty-percent;
    left: $fifty-percent;
    z-index: 3;
    font-weight: bold;
    transform: translate(-$fifty-percent, -$fifty-percent);
}

/* /////////////////////////////////////////////////////////////////// */
/* BLACK CARD */
/* /////////////////////////////////////////////////////////////////// */

.black-card {
    margin-left: 20%;
}

.card {
    z-index: 0;
    padding: 70px;
    background-color: $black-color;
    color: $white-color;

    h6 {
        font-family: $font-family;
    }
}

.title-div {
    text-decoration: 1px solid $white-color underline;
    text-underline-offset: 25px;
    padding-bottom: 25px;

    h1 {
        font-family: $font-family;
    }
}

.card-subtitle {
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
}

.card-text {
    line-height: 30px;
    font-size: 13px;
}

.card-link {
    color: $white-color;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.card-link:hover {
    color: $white-color;
}

/* /////////////////////////////////////////////////////////////////// */
/* IMG UNDER BLACK CARD */
/* /////////////////////////////////////////////////////////////////// */

.merged-div {
    position: absolute;
    top: 1200px;
    z-index: -1;
}

.merged {
    width: 100%;
    height: auto;
}

/* /////////////////////////////////////////////////////////////////// */
/* 2 COLUMNS DIV */
/* /////////////////////////////////////////////////////////////////// */

.winery {
    margin-top: 400px;
}

.row {
    display: flex;
}

.column {
    flex: $fifty-percent;
}

.card1 {
    z-index: 0;
    padding: 70px;
    background-color: $white-color;
    color: $black-color;
    margin-right: 15%;

    p {
        color: $gray;
    }
}

.title1-div {
    text-decoration: 1px solid $black-color underline;
    text-underline-offset: 25px;
    padding-bottom: 25px;

    h1 {
        font-family: $font-family;
    }
}

.card1-text {
    line-height: 30px;
    font-size: 13px;
}

.card1-link {
    color: $purple;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.card1-link:hover {
    color: $purple;
}

/* /////////////////////////////////////////////////////////////////// */
/* 2 IMAGES */
/* /////////////////////////////////////////////////////////////////// */

.two-images {
    position: relative;
    top: 150px;
    margin-right: 60%;
}

.card2 {
    z-index: 0;
    padding: 70px;
    background-color: $purple;
    color: $white-color;
}

.title2-div {
    text-decoration: 1px solid $white-color underline;
    text-underline-offset: 25px;
    padding-bottom: 25px;

    h1 {
        font-family: $font-family;
    }
}

.card2-text {
    line-height: 30px;
    font-size: 13px;
}

.territory {
    position: relative;
    top: -300px;
    left: 350px;
    z-index: -1;
}

/* /////////////////////////////////////////////////////////////////// */
/* IMAGE GALLERY MENU */
/* /////////////////////////////////////////////////////////////////// */

.img-gallery-div {
    margin-right: 25%;
}

.img-gallery-nav {
    display: flex;
    border-bottom: 1px solid $black-color;
}

.img-gallery-menu {
    flex-direction: column;
    font-size: 18px;
    padding: 15px;
    list-style-type: none;
}

.img-gallery-menu:hover {
    color: $black-color;

    .link {
        color: $hover-color;
    }

    .active {
        color: $black-color;
        font-weight: bold;
    }
}

.link {
    text-decoration: none;
    color: $black-color;
}

.active {
    font-weight: bolder;
}

/* /////////////////////////////////////////////////////////////////// */
/* IMG GALLERY */
/* /////////////////////////////////////////////////////////////////// */

.mySlides {
    display: none;
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer;
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0;
}

/* /////////////////////////////////////////////////////////////////// */
/* IMG GALEERY TEXT */
/* /////////////////////////////////////////////////////////////////// */

.img-gallery {
    display: flex;
}

.column1 {
    flex: $fifty-percent;
}

.card3 {
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 70px;
    color: $black-color;
}

.title3-div {
    text-decoration: 1px solid $black-color underline;
    text-underline-offset: 25px;
    padding-bottom: 25px;

    h1 {
        font-family: $font-family;
    }
}

.card3-text {
    margin-right: 60%;
    line-height: 30px;
    font-size: 13px;
    color: $gray;
}

/* /////////////////////////////////////////////////////////////////// */
/* KUPON */
/* /////////////////////////////////////////////////////////////////// */

.kupon-div {
    margin-top: 150px;
    background-color: $purple;
    padding: 100px 100px;
    color: $white-color;
}

#kupon-title {
    text-align: center;
    font-size: 36px;
    letter-spacing: 5px;
    text-decoration: 1px solid $white-color underline;
    text-underline-offset: 25px;
}

#kupon-leiras {
    text-align: center;
    margin-top: 45px;
    font-size: 24px;
}

/* /////////////////////////////////////////////////////////////////// */
/* WINE CARDS */
/* /////////////////////////////////////////////////////////////////// */

.sor {
    display: flex;
    margin-top: 200px;
    margin-bottom: 200px;
}

.column2 {
    flex: $fifty-percent;
}

.wine-div2 {
    position: absolute;
    top: 530%;
    right: -5%;
}

.medals {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

hr {
    border-top: 1px solid $black-color;
}

.card4 {
    padding: 50px;
    background-color: $card-color;
    width: 550px;
    height: 500px;
}

.card-body4 {
    margin-top: 50px;

    h5 {
        font-family: $font-family;
    }
}

.card-title4 {
    font-weight: bold;
    font-size: 26px;
    color: $black-color;
    padding-bottom: 10px;
}

.card4-link {
    color: $purple;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.arrow {
    color: $gray;
}

.p-text {
    color: $gray;
}

.price {
    font-weight: bolder;
    font-size: 16px;
}

.medals-div {
    padding-right: 0;
}

.card5 {
    padding: 50px;
    background-color: $card-color;
    width: 550px;
    height: 500px;
}

.card-body5 {
    margin-top: 50px;

    h5 {
        font-family: $font-family;
    }
}

.card-title5 {
    font-weight: bold;
    font-size: 26px;
    color: $black-color;
}

.card-text5 {
    margin-right: 60%;
    font-size: 13px;
}

.wishing {
    margin-top: 40px;
}

.buy-button {
    background-color: $purple;
    color: $white-color;
    padding: 5px 20px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* /////////////////////////////////////////////////////////////////// */
/* ---------------------------MEDIA QUERIES--------------------------- */
/* /////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 1200px) {
    .img-gallery {
        display: flex;
    }

    .column1 {
        flex: 100%;
        align-items: center;
    }

    .slideshow-text {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 992px) {
    .icons {
        position: absolute;
        top: 0;
        right: 5%;
    }

    .column {
        width: 100%;
    }

    .column1 {
        width: 100%;
    }
    .navbar {
        background-color: $black-color;
        z-index: 4;
    }
    .button {
        background-color: $purple;
        color: $white-color;
        padding: 10px 30px;
        border: none;
        position: absolute;
        top: 20%;
        left: 75%;
    }
    .hover {
        font-weight: bolder;
        font-size: 13px;
        letter-spacing: 4px;
        color: $white-color;
        padding-bottom: 20px;
    }

    .column {
        flex: 100%;
    }

    .card1 {
        z-index: 0;
        padding: 70px;
        background-color: $white-color;
        color: $black-color;
        margin-right: 0;
    }
}

@media only screen and (min-width: 992px) {
    .button:hover {
        transform: translateY(-10%);
        transition: 0.8s;
    }
}

/* /////////////////////////////////////////////////////////////////// */
/* XX-LARGE */
/* /////////////////////////////////////////////////////////////////// */

@media only screen and (min-width: 1400px) {
    .icons {
        position: absolute;
        top: 5%;
        right: 25%;
    }

    .card3 {
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 100px;
        color: $black-color;
    }

    .wine-div1 {
        position: absolute;
        top: 530%;
        right: $fifty-percent;
    }
}

/* /////////////////////////////////////////////////////////////////// */
/* X-LARGE */
/* /////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
    .icons {
        position: absolute;
        top: 5%;
        right: 5%;
    }

    .centered {
        color: $white-color;
        font-size: 50px;
        position: absolute;
        top: 40%;
        left: $fifty-percent;
        z-index: 3;
        font-weight: bold;
        transform: translate(-$fifty-percent, -$fifty-percent);
    }

    .card3 {
        padding-right: 70px;
        padding-left: 70px;
        padding-bottom: 100px;
        color: $black-color;
    }

    .card3-text {
        margin-right: 0;
        line-height: 30px;
        font-size: 13px;
    }

    .wine-div2 {
        position: absolute;
        top: 490%;
        right: -5%;
    }

    .wine-div1 {
        position: absolute;
        top: 490%;
        right: 34%;
    }
}

/* /////////////////////////////////////////////////////////////////// */
/* LARGE */
/* /////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .button {
        background-color: $purple;
        color: $white-color;
        padding: 10px;
        padding-right: 7px;
        border: none;
        z-index: 2;
    }

    .hover {
        font-weight: bolder;
        font-size: 13px;
        color: $white-color;
    }

    .icons {
        position: absolute;
        top: 5%;
        right: 1%;
    }

    .centered {
        color: $white-color;
        font-size: 50px;
        position: absolute;
        top: 30%;
        left: $fifty-percent;
        z-index: 3;
        font-weight: bold;
        transform: translate(-$fifty-percent, -$fifty-percent);
    }

    .merged-div {
        position: absolute;
        top: 1000px;
        z-index: -1;
    }

    .column {
        flex: 100%;
    }

    .card3 {
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 100px;
        color: $black-color;
    }

    .card3-text {
        margin-right: 0;
        line-height: 30px;
        font-size: 13px;
    }

    .column2 {
        margin-left: 50px;
    }

    .wine-div2 {
        position: absolute;
        top: 660%;
        right: 40%;
    }

    .wine-div1 {
        position: absolute;
        top: 600%;
        right: 32%;
    }
}

/* /////////////////////////////////////////////////////////////////// */
/* MEDIUM */
/* /////////////////////////////////////////////////////////////////// */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .centered {
        color: $white-color;
        font-size: 35px;
        position: absolute;
        top: 30%;
        left: $fifty-percent;
        z-index: 3;
        font-weight: bold;
        transform: translate(-$fifty-percent, -$fifty-percent);
    }

    .merged-div {
        position: absolute;
        top: 950px;
        z-index: -1;
    }

    .two-images {
        position: relative;
        top: 150px;
        margin-right: 5%;
        margin-bottom: 100px;
    }
    .card2 {
        z-index: 0;
        padding: 70px;
        background-color: $purple;
        color: $white-color;
    }
    .territory {
        position: relative;
        top: -100px;
        left: 100px;
        z-index: -1;
    }

    .slideshow-text {
        margin-top: 50px;
        margin-left: 0;
    }

    .card3 {
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 100px;
        color: $black-color;
    }

    .card3-text {
        margin-right: 0;
        line-height: 30px;
        font-size: 13px;
    }

    #kupon-title {
        text-align: center;
        font-size: 25px;
        letter-spacing: 2px;
        text-decoration: 1px solid $white-color underline;
        text-underline-offset: 15px;
    }

    #kupon-leiras {
        text-align: center;
        margin-top: 45px;
        font-size: 20px;
    }

    .img-gallery-div {
        margin-right: 0;
    }

    .img-gallery-nav {
        display: flex;
        border-bottom: 1px solid $black-color;
    }

    .img-gallery-menu {
        flex-direction: column;
        padding: 15px;
        list-style-type: none;
    }

    .link {
        text-decoration: none;
        color: $black-color;
    }

    .active {
        font-weight: bolder;
    }

    .wine-div2 {
        position: absolute;
        top: 660%;
        right: 40%;
    }

    .wine-div1 {
        position: absolute;
        top: 610%;
        right: 32%;
    }
}

/* /////////////////////////////////////////////////////////////////// */
/*  SMALL MOBILE */
/* /////////////////////////////////////////////////////////////////// */

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .black-card {
        margin-left: 0;
    }

    .centered {
        color: $white-color;
        font-size: 30px;
        position: absolute;
        top: 200px;
        left: $fifty-percent;
        z-index: 3;
        font-weight: bold;
        transform: translate(-$fifty-percent, -$fifty-percent);
    }

    .merged-div {
        position: absolute;
        top: 1120px;
        z-index: -1;
    }

    .two-images {
        position: relative;
        top: 100px;
        margin-right: 5%;
        margin-bottom: 180px;
        display: flex;
    }
    .card2 {
        z-index: 0;
        padding: 70px;
        background-color: $purple;
        color: $white-color;
        flex: 100%;
    }
    .territory {
        position: relative;
        top: 10px;
        left: -10px;
        z-index: -1;
        flex: 100%;
    }

    .card3 {
        padding-right: 70px;
        padding-left: 70px;
        padding-bottom: 100px;
        color: $black-color;
    }

    .card3-text {
        margin-right: 0;
        line-height: 30px;
        font-size: 13px;
    }

    .kupon-div {
        margin-top: 40px;
        background-color: $purple;
        padding: 20px 20px;
        color: $white-color;
    }

    #kupon-title {
        text-align: center;
        font-size: 20px;
        text-decoration: 1px solid $white-color underline;
        text-underline-offset: 2px;
    }

    #kupon-leiras {
        text-align: center;
        margin-top: 30px;
        font-size: 15px;
    }

    .img-gallery-div {
        display: flex;
        margin-right: 0;
    }

    .img-gallery-nav {
        flex-direction: column;
        border-bottom: none;
    }

    .img-gallery-menu {
        padding: 10px;
        list-style-type: none;
        border-bottom: 1px solid $black-color;
        transition: 0.3s;
    }

    .img-gallery-menu:hover {
        font-weight: bolder;
        color: $black-color;
        border-bottom: 4px solid $black-color;

        .link {
            color: $black-color;
        }
    }

    .link {
        text-decoration: none;
        color: $black-color;
    }

    .active {
        font-weight: bold;
    }

    .wine-div2 {
        position: absolute;
        top: 630%;
        right: 53%;
    }

    .wine-div1 {
        position: absolute;
        top: 600%;
        right: 32%;
    }
}

/* /////////////////////////////////////////////////////////////////// */
/* EXTRA SMALL MOBILE*/
/* /////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 575px) {
    .black-card {
        margin-left: 0;
    }

    .centered {
        color: $white-color;
        font-size: 25px;
        position: absolute;
        top: 160px;
        left: $fifty-percent;
        z-index: 3;
        font-weight: bold;
        transform: translate(-$fifty-percent, -$fifty-percent);
    }

    .hover {
        font-weight: bolder;
        font-size: 13px;
        letter-spacing: 4px;
        color: $white-color;
        padding-bottom: 20px;
        margin-left: 40px;
    }

    .merged-div {
        position: absolute;
        top: 1150px;
        z-index: -1;
    }

    .two-images {
        position: relative;
        top: 50px;
        margin-right: 5%;
        margin-bottom: 100px;
        display: flex;
    }
    .card2 {
        z-index: 0;
        padding: 70px;
        background-color: $purple;
        color: $white-color;
        flex: 100%;
    }
    .territory {
        position: relative;
        top: 10px;
        left: -10px;
        z-index: -1;
        flex: 100%;
    }

    .card3 {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 100px;
        color: $black-color;
    }

    .card3-text {
        margin-right: 0;
        line-height: 30px;
        font-size: 13px;
    }

    .kupon-div {
        margin-top: 20px;
        background-color: $purple;
        padding: 20px 20px;
        color: $white-color;
    }

    #kupon-title {
        text-align: center;
        font-size: 20px;
        text-decoration: 1px solid $white-color underline;
        text-underline-offset: 5px;
    }

    #kupon-leiras {
        text-align: center;
        margin-top: 30px;
        font-size: 15px;
    }

    .sor {
        display: flex;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .img-gallery-div {
        display: flex;
        margin-right: 0;
    }

    .img-gallery-nav {
        flex-direction: column;
        border-bottom: none;
    }

    .img-gallery-menu {
        padding: 10px;
        list-style-type: none;
        border-bottom: 1px solid $black-color;
        transition: 0.3s;
    }

    .img-gallery-menu:hover {
        font-weight: bolder;
        color: $black-color;
        border-bottom: 4px solid $black-color;

        .link {
            color: $black-color;
        }
    }

    .link {
        text-decoration: none;
        color: $black-color;
    }

    .active {
        font-weight: bold;
    }

    .wine-div2 {
        position: absolute;
        top: 610%;
        left: 80%;
        z-index: 5;
    }

    .wine-div1 {
        position: absolute;
        top: 570%;
        left: 5%;
    }
}

/* ///////////////////////////////////////////////////////////////////// */
/* DIFFERENT MEDIA QUERY */
/* ///////////////////////////////////////////////////////////////////// */

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .wine-div1 {
        position: absolute;
        top: 530%;
        right: 25%;
    }
}

@media only screen and (min-width: 1600px) {
    .wine-div1 {
        position: absolute;
        top: 530%;
        right: 19%;
    }
}

@media only screen and (min-width: 1700px) {
    .wine-div1 {
        position: absolute;
        top: 530%;
        right: 16%;
    }
}
